* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
  }
  
  html {
    background-color: #F5F5F9;
  }

  h1 {
    margin-top: 1vh;
    font-size: 3.5vh;
  }

  h2{
    font-size: 2.5vh;
  }

  p {
    font-size: 2.5vh;
  }

  a {
    font-size: 2.5vh;
  }

  div {
    font-size: 2.5vh;
  }

  .box {
      box-shadow: 0 0 25px 0 rgba(33, 33, 46, 0.25);
  }

  .pantoneBook {
    background: grey;
  }

  .firstP{
    background: #237293;
    color: white;

  }
  
  .secondP {
    background: #1E4F62;
    color: white;
  }

  .thirdP {
    background: #328891;
    color: white;
  }

  .fourthP {
    background: #3B385A;
    color: white;
  }

  #myNameIs {
      font-family: 'Pacifico', cursive;
      font-size: 4vh;
      margin-bottom: 5px;
    }
    
  .myInfo {
      margin-bottom: 30px;
    }
    
  #downloadButton {
      background-color: #19627f;
      font-size: 1.7vh;
      border:none;
      color: white;
      cursor: pointer;
      text-decoration: none;
      padding: 10px 10px;
  }
  
  #downloadButton:hover {
      background-color:#328891;
  }

  .city {
    margin-top: 20vh;
    max-width:100%;
    height:auto;
    max-height:100%;
  }
    
  footer p {
    font-size: 1.7vh;
  }

  .space {
    height: 1.5vh;
  }

  .personal {
    background-color: #237293;
    color: white;
  }

  .s {
    font-size: 1.7vh;
    margin-bottom: 0.1vh;
  }

  .t {
    font-weight: bold;
    font-size: 2vh;
    margin-bottom: 1vh;
  }

