* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
  }

  html {
    background-color: #1E4F62;
    color: white;
  }
  
  h1 {
    margin-top: 1vh;
    font-size: 3.5vh;
  }

  h2{
    font-size: 2.5vh;
  }

  p {
    font-size: 2.5vh;
  }

  a {
    font-size: 2.5vh;
    text-decoration: none;
  }

  a:visited {
    color: white;
  }

  p.tittle {
    font-size: 3vh;
    font-weight: 100;
  }

  p span.subtittle {
    font-size: 3vh;
    font-weight: 700;
  }

  div {
    font-size: 2.5vh;
  }

  #projectCard div img{
    width: 100%;
    height: auto;
  }

  .imgbox {
    text-align: center;
    width: 20vh;
    height: 85vh;
  }

  .proto {  
    height: 25%;
  }

  /*Footer*/
  footer {
    height: 4vh;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: fixed;
    bottom: 0px;
  }

  footer p {
    font-size: 1.7vh;
  }