* {
    box-sizing: border-box;
  }
  
  html {
    background-color:#3B385A;
    color: white;
    font-family: Arial;
    padding: 20px;
  }

  .main {
    max-width: 1000px;
    margin: auto;
  }

  h1 {
    font-size: 3.5vh;
  }

  h2{
    font-size: 2.5vh;
  }

  p {
    font-size: 2.5vh;
  }

  a {
    color: white;
    font-size: 2.5vh;
    text-decoration: none;
  }

  a:visited {
    color: white;
  }

  div {
    font-size: 2.5vh;
  }

  p.tittle {
    font-size: 3vh;
    font-weight: 700;
    color: white;
  }

  p span.subtittle {
    font-size: 3vh;
    font-weight: 100;
    color: white;
  }

  .row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  /*Footer*/
  footer {
    height: 4vh;
    width: 100%;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    position: fixed;
    bottom: 0px;
  }

  footer p {
    font-size: 1.7vh;
  }